.header {
    background-color: $main-color;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: $secondary-font-color;
}

.nav-link:hover {
    text-decoration: line-through;
}

.social {
    text-decoration: none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $secondary-font-color;
}

.social:hover {
    text-decoration: line-through;
}