.musician {
    max-width: 315px;
    height: auto;
}
.musician-info-active {
    background-color: $main-color;
    color: $secondary-font-color;
}

.musician-info-active:hover{
    bottom: 0;
    transition: bottom 0.3s ease-in-out;
}

.group {
    border-bottom: 1px solid #dfdfdf;

}