.musician {
    max-width: 315px;
    height: auto;
}

.musician-info {
     background-color: $main-color;
     color: $secondary-font-color;
 }

.musician-info-active {
    background-color: $main-color;
    color: $secondary-font-color;
}

.group {
    border-bottom: 2px solid #dfdfdf;
}