.main-header {
    font-size: 80px;
    font-weight: bold;
    color: $main-color;
    width: 500px;
    line-height: 1;
}

.sub-header {
    color: $main-font-color;
    font-size: 60px;
}

.promo:after {
    content: ' ';
    background-color: $main-color;
    height: 3px;
    width: 70%;
    display: block;
    position: absolute;
}

.promo {
    background-image: url("../images/promo.png");
    background-size: cover;
    border-bottom: 3px #d3d3d3 solid;
}

.promo-secondslide {
    background-image: url("../images/slide2.png");
    background-size: cover;
}
.promo-thirdslide {
    background-image: url("../images/slide3.png");
    background-size: cover;
}