.main-header {
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    color: $main-color;
    font-weight: bold;
}

.sub-header {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

