.main-header {
    font-size: 80px;
    color: $main-color;
    font-weight: bold;
}

.sub-header {
    font-size: 60px;
}

.promo:after {
    content: ' ';
    background-color: $main-color;
    height: 3px;
    width: 70%;
    display: block;
}
