.concert-image {
    height: 260px;
    width: auto;
}

.date-number {
    color: $secondary-font-color;
    font-size: 45px;
}

.iframe-video {
    width: 100%;
    height: 260px;
}

.date-month {
    color: $secondary-font-color;
    font-size: 30px;
}