// main button style

.main-button {
    text-decoration: none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    color: $secondary-font-color;
    border-radius: 25px;
    background-color: $main-color;
    padding: 10px 20px;
    font-weight: bold;
}

.main-button:hover {
    color: $main-font-color;
    transition: 0.5s;
    cursor: pointer;
}

//header button and founder

.purshcase-button, .learn-more-button {
    text-decoration: none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    color: $main-color;
    border-radius: 25px;
    background-color: $secondary-font-color;
    padding: 10px 20px;
    font-weight: bold;
}

.purshcase-button:hover {
    color: $main-font-color;
    transition: 0.5s;
    cursor: pointer;
}

.learn-more-button:hover {
    color: $main-font-color;
    transition: 0.5s;
    cursor: pointer;
}

.button {
    background-color: $main-color;
    color: $secondary-font-color;
    border: none;
    .fa {
        margin: 0 auto;
        padding: 0;
    }

}