@font-face {
    font-family: 'DroidSans';
    src: url('../../fonts/droidsans/DroidSans.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/droidsans/DroidSans.woff') format('woff'), url('../../fonts/droidsans/DroidSans.ttf')  format('truetype'),
    url('../../fonts/droidsans/DroidSans.svg#DroidSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

//header-fonts

.nav-link {
    font-family: 'Droid Sans', sans-serif;
}

.social {
    font-family: 'Droid Sans', sans-serif;
}

//promo-fonts

.main-header {
    font-family: 'Oswald', sans-serif;
}

.sub-header {
    font-family: 'Great Vibes', cursive;
}

//sctions-headers

.head {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.subhead {
    font-family: 'Great Vibes', cursive;
    color: $main-color;
    font-size: 25px;
}