//section headers

.heading {
    padding: 10px;
}

.head {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 25px;
    width: 130px;
}

.subhead {
    clear: both;
    margin: 0;
    padding: 0;
    color: $main-color;
    font-size: 25px;
}